/*
 * COLORS
 */
$color-light: #f1faee;
$color-primary: #28B4C1;
$color-secondary: #457b9d;
$color-dark: #161C2E;

$color-accent-1: #50723C; // Don't know if should be used
$color-accent-2: #984447; // Don't know if should be used

// Color assignments
$color-header: $color-dark;
$color-background: $color-light;
$color-recipe-hover: $color-secondary;

/*
 * CSS
 */
div.column {
  //border: #01ff70 solid 1px;
}

/**
 * Bulma colors import
 */
$primary: $color-dark;

$footer-background-color: $primary;
$footer-color: $color-secondary;
$footer-padding: 3rem 1.5rem 3rem;

$link: $color-primary !default;
$link-focus-border: $primary !default;

$family-primary: 'Roboto', sans-serif;
$title-family: 'Comfortaa', cursive;
