$navbar-background-color: $color-header;
$navbar-item-img-max-height: 6.75rem;
$navbar-height: 7.25rem;

// Making the navbar brand centered -- https://stackoverflow.com/questions/46635215/how-do-i-center-my-navbar
.navbar .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}
// End of making the navbar brand centered
