/**
 * Sticky footer
 * https://stackoverflow.com/a/44657664/428173
 */

// Without this the footer will be always at the end of the page but not
// "stick" to it in case the whole page is smaller than the screen size
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #efefef;
  flex: 0 0 50px;/*or just height:50px;*/
  margin-top: auto;
}
