{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<div class="container" itemscope itemtype="http://schema.org/Recipe">
    <div class="columns mb-6">

        <div class="column is-6 is-offset-3 has-text-centered card">
            <!-- call up the image and image credit link -->
            <div class="xs-p4 recipe-main-img-container">
                <a href="#">
                    {% if article.title_image is defined and article.title_image is not none %}
                    <img class="image-process-article-heading-image" src="/images/{{ article.title_image }}" />
                    {% else %}
                    <img class="image-process-article-heading-image" src="/images/placeholder.png" />
                    {% endif %}
                </a>
            </div>

            <div class="content title mt-2">
                {{ article.title }}
            </div>

            <div class="columns">
                <!-- Active time -->
                <div class="column is-2 is-offset-3 content">
                    <span class="icon mr-1">
                        <i class="fas fa-user-clock"></i>
                    </span>
                    {{ article.time.active }}
                </div>
                <!-- Total time -->
                <div class="column is-2 content">
                    <span class="icon mr-1">
                        <i class="fas fa-clock"></i>
                    </span>
                    {{ article.time.total }}
                </div>

                <!-- Portions -->
                <div class="column is-2 content">
                    <span class="icon mr-1">
                        <i class="fas fa-user-friends"></i>
                    </span>
                    {{ article.portions }}
                </div>
            </div>

            {% if article.text %}
            <div class="content" itemprop="description">
                {{ article.text }}
            </div>
            {% endif %}

            {% if article.tags|length > 0 %}
            <div class="container">
                <div class="content">
                    <div class="level">
                        <div class="level-item">

                            <span class="icon mr-1">
                                <i class="fas fa-tags"></i>
                            </span>
                            {{ article.tags | join(', ') }}

                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>


    {% if article.notes %}
    <div class="columns">
        <div class="column is-6 is-offset-3 content">
            <h3 class="title">
                Poznámky
            </h3>

            {% for note in article.notes %}
            <li>
                <!-- TODO markdownify -->
                {{ note }}
            </li>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="columns">
        <div class="column is-5 is-offset-1 content">
            {% if article.ingredients %}
            <h3 class="title">
                Ingredience
            </h3>

            <ul itemprop="ingredients" class="ingredient-list">
                {% for ingredient in article.ingredients %}
                <li itemprop="recipeIngredient" class="ingredient-item">
                    <!-- TODO show tooltip/notes -->
                    <!-- TODO markdownify -->
                    {{ ingredient.name }}{% if ingredient.amount %}, {{ ingredient.amount }}{% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="column is-6 content">
            <h3 class="title">
                Postup
            </h3>
            <ul itemprop="recipeInstructions"
                class="direction-list">
                {% for direction in article.directions %}
                <li class="direction-item">
                    <!-- TODO markdownify -->
                    {{ direction }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<!--<section id="content" class="body">-->
<!--  <header>-->
<!--    <h2 class="entry-title">-->
<!--      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"-->
<!--         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>-->
<!-- {% import 'translations.html' as translations with context %}-->
<!-- {{ translations.translations_for(article) }}-->
<!--  </header>-->
<!--  <footer class="post-info">-->
<!--    <time class="published" datetime="{{ article.date.isoformat() }}">-->
<!--      {{ article.locale_date }}-->
<!--    </time>-->
<!--    {% if article.modified %}-->
<!--    <time class="modified" datetime="{{ article.modified.isoformat() }}">-->
<!--      {{ article.locale_modified }}-->
<!--    </time>-->
<!--    {% endif %}-->
<!--    {% if article.authors %}-->
<!--    <address class="vcard author">-->
<!--      By {% for author in article.authors %}-->
<!--          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>-->
<!--        {% endfor %}-->
<!--    </address>-->
<!--    {% endif %}-->
<!--    {% if article.category %}-->
<!--    <div class="category">-->
<!--        Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>-->
<!--    </div>-->
<!--    {% endif %}-->
<!--    {% if article.tags %}-->
<!--    <div class="tags">-->
<!--        Tags:-->
<!--        {% for tag in article.tags %}-->
<!--            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    {% endif %}-->
<!--  </footer>&lt;!&ndash; /.post-info &ndash;&gt;-->
<!--  <div class="entry-content">-->
<!--    {{ article.content }}-->
<!--  </div>&lt;!&ndash; /.entry-content &ndash;&gt;-->

<!--    <div>-->
<!--        psi pes {{ article.title_image }}-->
<!--    </div>-->
<!--</section>-->
{% endblock %}
