{% extends "base.html" %}
{% block content %}

<div class="columns is-vcentered is-multiline" id="content">
    {% for post in articles %}

    <div class="column is-3">
        <div class="card has-equal-height is-clickable">
            <a href="{{ SITEURL }}/{{ post.url }}">
                <div class="card-image">
                    <figure class="image is-4by3">
                        {% if post.title_image is defined and post.title_image is not none %}
                        <img class="image-process-recipe-thumbnail" src="/images/{{ post.title_image }}" />
                        {% else %}
                        <img class="image-process-recipe-thumbnail" src="/images/placeholder.png" />
                        {% endif %}
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content card-header-title title is-6">
                        {{ post.title }}
                    </div>
                </div>
            </a>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock content %}
